@media (min-width: 901px) {
    
/*body*/

body {
     font-family: 'Montserrat', sans-serif;
     }
h5 {
     margin-bottom: 0px;
     }
h1 {
     margin-left: 30px;
      margin-bottom: 30px;
       width: 212px;}
.footer {
     background-color: #e5e5e5;
      margin-bottom: 0!important;
       height: 250px;
     }
.image {
     margin-top: 40px;
      margin-bottom: 40px;
     }
.space_top {
     height: 80px;
      width: 100%;
     }
.Logo {
     height: 35px;
      width: 212px;
     }
.Logo_place {
     height: 35px!important;
      width: 212px!important;
     }
.SBB {
     width: 126px!important;
     }
a, a:hover, a:focus, a:active {
     text-decoration: none;
      color: inherit;
     }

/*tabs navigation*/

.nav-link {
     color: #343a40;
      margin-left: 30px;
       border: 0 0 1 0;
        padding-bottom: 20px;
     }
.nav-link:hover {
     color:#e30613; border-bottom-color: #e30613!important;
      transition: 250ms ease-in-out .2s;
       cursor: pointer;
        border: 0 0 1 0;
     }
.navbar.fixed-top.navbar-light.bg-light {
     width: 70%;
      height: 60px;
       left: 35%;
        margin-top: 17px;
     }
.nav-tabs .nav-link:hover {
     border-color: white;
      isolation: isolate;
       border-bottom-color: #343a40;
     }
.nav-link.active {
     border-color: white!important;
      isolation: isolate;
       border-bottom-color: #343a40!important;
     }
.fixed-top {
     position: absolute;
     }

/*language choice*/

.btn.btn-secondary.dropdown-toggle {
     border: 0px;
      color: #343a40;
       background: none;
        transition: width .3s cubic-bezier(.785,.135,.15,.86),top .05s ease-out;
     }
.btn.btn-secondary.dropdown-toggle.show {
     box-shadow: 0 0 0 0rem rgb(130 138 145 / 0%);
     }
.btn-check:focus+.btn, .btn:focus {
     outline: 0;
      box-shadow: 0 0 0 0rem;
     }
.btn-secondary:active:focus {
     box-shadow: 0 0 0 0rem;
     }
.dropdown-item:hover {
     background: none;
      color: #e30613;
       transition: 250ms ease-in-out;
     }
.dropdown-menu {
     border-top-color: #808080;
      color: #414141;
       border-radius: 2px;
        border: 2px solid;
         box-shadow: 0 0.57143em 0 rgb(0 0 0 / 15%);
     }
.bi.bi-globe2 {
     margin-left: 15px;
     }

/*card info*/

.card-img-top {
     width: 288px;
     }
.card {
     width: 250px ;
      height: 500px;
       border: 0px;
        border-radius: 0%;
         float: left;
          margin-left: 20px;
           background-color: #f6f6f6;
            overflow: hidden;
             transition: transform .5s ease;
     }
.card-title {
     margin-top: 25px;
      color: #414141;
     }
.card-text {
     margin-top: 15px;
      color: #343a40;
     }
.card:hover {
      background-color: #e5e5e5;
       transition: background 225ms ease-in-out;
        cursor: pointer;
         transform: scale3d(1.02,1.02,1.02);
          transition: transform .3s ease-out,opacity .45s ease-in;
           overflow: hidden;
          }
.card-holder {
     margin-left: 50px;
      margin-right: 50px;
       padding: 0px;
        height: 1200px;
         display: flex;
          flex-flow: row wrap;
           justify-content: center;
          }
.card-place {
     width: 400px;
     }
.card-more-info {
     width: 150px;
      margin: auto;
     }
.arrow-card {
     margin-left: 10px;
      position: absolute;
     }
.card-box {
     width: 220px;
      height: 25px;
       margin: auto;
     }
.arrow-card {
     color: #e30613;
      font-size: 22px;
     } 

/*search tab*/

.toptab {
     position: absolute;
      float: left;
       isolation: isolate;
     }
.box {
     height: 36px;
      width: 120px;
     }
.form-control.me-2 {
     margin-left: 8px;
      margin-right: 25px;
       border-radius: 1px;
        border: 2px solid #b7b7b7;
     }
.form-control:focus {
     box-shadow: none;
     }
.me-2:focus {
     border: 2px solid #343a40;
      border-radius: 1px;
     }
.grey {
     font-size: 30px;
      color: #808080;
       background: none;
        height: 30px;
         margin-top: 3px;
     }

/*depart arrival info*/

.depart, .arriver {
     width: 352px;
      height: 48px;
       border: none;
        border-radius: 3px;
         border-color: #b7b7b7;
          margin-left: 10px;
           float:left;
            margin-top: 40px;
     }
.info {
     height: 125px;
      width: 990px;
       margin: auto;
     }
.button-info {
     width: 253px;
      height: 48px;
       float: left;
        margin-left: 10px;
         margin-top: 40px;
     }
.button {
     width: 253px;
      height: 48px;
       margin: auto; 
       padding-left: 0;
        background-color: #e30613;
         color: #f6f6f6;
          font-family: 'Montserrat', sans-serif;
           border: none;
            position: absolute;
     }
.button:hover {
     background-color: #c90613;
     } 
.text-info {
      color: #343a40!important;
       height: 48px;
        width: 352px;
         border: solid 2px;
          border-color: #b7b7b7;
           border-radius: 1px;
            padding: 15px;
          }
.text-info:focus-visible {
     border-color: #414141;
      border-radius: 1px;
     }
.fleche {
     margin-left: 10px;
      position: absolute;
     }


.button-over {
     display: none;
     }
.icon-responsive {
     display: none;
     }
.affichage-tel {
     display: none;
     }

}


@media (min-width: 601px) and (max-width: 900px) {

/*body*/

body {
     font-family: 'Montserrat', sans-serif;
     }
h5 {
     margin-bottom: 0px;
     }
h1 {
     margin-left: 35px;
      width: 290px;
     }
.footer {
     background-color: #e5e5e5;
      margin-bottom: 0!important;
       height: 250px;
     }
.image {
     margin-top: 30px;
      margin-bottom: 30px;
     }
.site {
     margin: 15px;
     }
a, a:hover, a:focus, a:active {
     text-decoration: none;
      color: inherit;
     }

/*tabs navigation*/

.nav-link {
     color: #343a40;
      margin-left: 30px;
       border: 0 0 1 0;
        padding-bottom: 20px;
     }
.nav-link:hover {
     color:#e30613;
      border-bottom-color: #e30613!important;
       transition: 250ms ease-in-out .2s;
        cursor: pointer; border: 0 0 1 0;
     }
.navbar.fixed-top.navbar-light.bg-light {
     width: 70%;
      height: 60px;
       left: 35%;
        margin-top: 25px;
     }
.nav-tabs .nav-link:hover {
     border-color: white!important;
      isolation: isolate;
       color: #e30613;
     }
.nav-link.active {
     border-color: white!important;
      isolation: isolate;
       color: #e30613;
     }
.nav {
     border-bottom: #ffffff;
     }
.form-control:focus {
     box-shadow: none;
     }

/*language choice*/

.btn.btn-secondary.dropdown-toggle {
     border: 0px;
      color: #343a40;
       background: none;
        float: left;
         transition: width .3s cubic-bezier(.785,.135,.15,.86),top .05s ease-out;
     }
.btn.btn-secondary.dropdown-toggle.show {
     box-shadow: 0 0 0 0rem rgb(130 138 145 / 0%);
     }
.btn-check:focus+.btn, .btn:focus {
      outline: 0;
       box-shadow: 0 0 0 0rem;
     }
.btn-secondary:active:focus {
     box-shadow: 0 0 0 0rem;
     }
.language {
     margin-top: 500px;
      margin-left: 50px;
       height: 50px;
     }
.dropdown-item:hover {
     background: none;
      color: #e30613;
       transition: 250ms ease-in-out;
        cursor: pointer;
     }
.dropdown-menu {
     border-top-color: #808080;
      color: #414141;
       border-radius: 2px;
        border: 2px solid;
         box-shadow: 0 0.57143em 0 rgb(0 0 0 / 15%);
     }
.bi.bi-globe2 {
     margin-right: 15px;
      float: left;
     }

/*card info*/


.card {
     width: 365px!important;
      height: 340px;
       border: 0px;
        border-radius: 0%;
         background-color: #f6f6f6;
          transition: transform .5s ease;
     }
.card-body {
     padding: 16px 32px 16px 32px;
     }
.card-title {
     margin-top: 5px;
      color: #414141;
     }
.card-text {
     display: none;
     }
.card-more-info {
     width: 150px;
      margin: 0px!important;
       text-align: left;
     }
.card:hover { 
     background-color: #e5e5e5;
      transition: background 225ms ease-in-out;
       cursor: pointer;
        transform: scale3d(1.02,1.02,1.02);
         transition: transform .3s ease-out,opacity .45s ease-in;
          overflow: hidden;
     }
.card-holder {
     margin-left: 1%;
      margin-right: 1%;
       padding: 0px;
        height: 1200px;
         display: flex;
          flex-flow: row wrap;
           justify-content: center;
     }
.card-place {
     width: 375px!important;
     }
.arrow-card {
     margin-left: 10px;
      position: absolute;
     } 
.card-box {
     width: 220px;
      height: 30px
     } 
.arrow-card {
     color: #e30613;
      font-size: 22px;
       position: absolute!important;
        float: left!important;
         isolation: isolate!important;
     }   

/*seach tab*/

.fixed-top{
     position: absolute!important;
     }
.toptab {
     position:absolute;
      float: left;
       isolation: isolate;
     }
.box {
     height: 36px;
      width: 50px;
     }
.form-control.me-2 {
     margin-left: 8px;
      margin-right: 25px;
       border-radius: 1px;
        border: 2px solid #b7b7b7;
     }
.form-control:focus {
     box-shadow: none;
     }
.me-2:focus {
     border: 2px solid #343a40;
      border-radius: 1px;
     }
.grey {
     font-size: 30px; color: #808080;
      background: none;
       height: 30px;
        margin-top: 3px;
     }

/*Arrival and depart*/

.depart, .arriver {
     width: 80%;
      height: 48px;
       border: none;
        border-radius: 3px;
         border-color: #b7b7b7;
          margin-left: 30px;
           margin-right: 30px;
            margin-top: 10px;
     }
.info {
     height: 100%;
      width: 100%;
       margin-left: 9%;
        margin-top: 20px;
     }
.button-info {
     width: 80%;
      height: 48px;
       margin-left: 30px;
        margin-right: 30px;
         margin-top: 10px;
          margin-bottom: 40px;
     }
.button {
     width: 90%;
      height: 48px;
       background-color: #e30613;
        color: #f6f6f6;
         font-family: 'Montserrat', sans-serif;
          border: none;
           text-align: center;
     }
.button:hover {
     background-color: #c90613;
     }
.text-info {
      color: #343a40!important;
       height: 48px;
        width: 90%;
         border: solid 2px;
          border-color: #b7b7b7;
           border-radius: 1px;
            padding: 15px;
     }
.text-info:focus-visible {
     border-color: #414141;
      border-radius: 1px;
     }
.fleche {
     margin-left: 10px;
      position: absolute;
       margin-bottom: 5px;
     }

/*phone menu*/

.button-over {
     height: 60px;
      width: 100px;
       display: block;
        float: right; 
        background:none;
         border: 0;
          border-radius: 2px;
           margin-right: 30px;
            margin-bottom: 5px;
             padding-top: 0!important;
          }
.button-over:hover {
     color: #e30613!important;
     }
.btn-primary:hover {
     background-color: transparent!important;
      box-shadow: none!important;
       color: #e30613!important;
     }
.btn-primary:active {
     background-color: transparent!important;
      box-shadow: none!important;
       color: #e30613!important;
     }
.btn-primary:focus {
     background-color: transparent!important;
      box-shadow: none!important;
       color: #e30613!important;
     }
.menu-icon {
     display: block;
      color: #414141;
     }
.offcanvas {
     box-shadow: 0 0 0 0.57143em rgb(0 0 0 / 15%);
      width: 300px;
     }
.offcanvas-backdrop.show {
     opacity: 0;
     }
.affichage-tel {
     display: block;
     }
.affichage-pc {
     display: none;
     }

}



/*
faire entre affichage tel et pc le buton de search arrival depart en dessous des deux recherche
faire une nouvelle css pour ecran 16/9 et 600px max
ecarter et agrandire les card pour le 16/9
terminer le sign up et le buy tab
faire un page de connection (login)
faire le css des tab dans search (buy and login)
faire un hover rouge pour les tab dans "search"
mettre une limite de recherche a 250 character
*/